.elementor-kit-3 {
	--e-global-color-primary: #000000;
	--e-global-color-secondary: #015924;
	--e-global-color-text: #7A7A7A;
	--e-global-color-accent: #78F098;
	--e-global-color-6c8322d: #FCFCF5;
	--e-global-color-b63fba7: #EEF2E4;
	--e-global-color-2b503fe: #F9FFD8;
	--e-global-typography-primary-font-family: "Manrope";
	--e-global-typography-primary-font-size: 65px;
	--e-global-typography-primary-font-weight: 600;
	--e-global-typography-primary-text-transform: none;
	--e-global-typography-primary-font-style: normal;
	--e-global-typography-primary-text-decoration: none;
	--e-global-typography-primary-line-height: 1.4em;
	--e-global-typography-secondary-font-family: "Manrope";
	--e-global-typography-secondary-font-size: 45px;
	--e-global-typography-secondary-font-weight: 600;
	--e-global-typography-secondary-text-transform: none;
	--e-global-typography-secondary-font-style: normal;
	--e-global-typography-secondary-text-decoration: none;
	--e-global-typography-secondary-line-height: 1.5em;
	--e-global-typography-text-font-family: "Manrope";
	--e-global-typography-text-font-size: 15px;
	--e-global-typography-text-font-weight: 500;
	--e-global-typography-text-text-transform: none;
	--e-global-typography-text-font-style: normal;
	--e-global-typography-text-text-decoration: none;
	--e-global-typography-text-line-height: 1.8em;
	--e-global-typography-accent-font-family: "Manrope";
	--e-global-typography-accent-font-size: 14px;
	--e-global-typography-accent-font-weight: 700;
	--e-global-typography-accent-text-transform: none;
	--e-global-typography-accent-font-style: normal;
	--e-global-typography-accent-text-decoration: none;
	--e-global-typography-d8d7091-font-family: "Manrope";
	--e-global-typography-d8d7091-font-size: 25px;
	--e-global-typography-d8d7091-font-weight: 600;
	--e-global-typography-d8d7091-text-transform: none;
	--e-global-typography-d8d7091-font-style: normal;
	--e-global-typography-d8d7091-text-decoration: none;
	--e-global-typography-d8d7091-line-height: 1.6em;
	--e-global-typography-0c948d0-font-family: "Manrope";
	--e-global-typography-0c948d0-font-size: 21px;
	--e-global-typography-0c948d0-font-weight: 600;
	--e-global-typography-0c948d0-text-transform: none;
	--e-global-typography-0c948d0-font-style: normal;
	--e-global-typography-0c948d0-text-decoration: none;
	--e-global-typography-0c948d0-line-height: 1.6em;
	--e-global-typography-7ff5688-font-family: "Manrope";
	--e-global-typography-7ff5688-font-size: 19px;
	--e-global-typography-7ff5688-font-weight: 600;
	--e-global-typography-7ff5688-text-transform: none;
	--e-global-typography-7ff5688-font-style: normal;
	--e-global-typography-7ff5688-text-decoration: none;
	--e-global-typography-7ff5688-line-height: 1.6em;
	--e-global-typography-0acc88c-font-family: "Manrope";
	--e-global-typography-0acc88c-font-size: 17px;
	--e-global-typography-0acc88c-font-weight: 600;
	--e-global-typography-0acc88c-text-transform: none;
	--e-global-typography-0acc88c-font-style: normal;
	--e-global-typography-0acc88c-text-decoration: none;
	--e-global-typography-0acc88c-line-height: 1.6em;
	--e-global-typography-cf2aa04-font-family: "Manrope";
	--e-global-typography-cf2aa04-font-size: 15px;
	--e-global-typography-cf2aa04-font-weight: 800;
	--e-global-typography-cf2aa04-text-transform: uppercase;
	--e-global-typography-cf2aa04-letter-spacing: 5px;
	--e-global-typography-1b4ec68-font-family: "Manrope";
	--e-global-typography-1b4ec68-font-size: 15px;
	--e-global-typography-1b4ec68-font-weight: 600;
	--e-global-typography-8c18317-font-family: "Manrope";
	--e-global-typography-8c18317-font-size: 14px;
	--e-global-typography-8c18317-font-weight: 500;
	--e-global-typography-d648ed5-font-family: "Manrope";
	--e-global-typography-d648ed5-font-size: 25px;
	--e-global-typography-d648ed5-font-weight: 700;
	--e-global-typography-2fe55cc-font-family: "Manrope";
	--e-global-typography-2fe55cc-font-size: 17px;
	--e-global-typography-2fe55cc-font-weight: 600;
	--e-global-typography-2fe55cc-text-transform: none;
	--e-global-typography-2fe55cc-font-style: italic;
	--e-global-typography-2fe55cc-text-decoration: none;
	--e-global-typography-2fe55cc-line-height: 1.8em;
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	background-color: #FCFCF5;
}

.elementor-kit-3 a {
	color: var(--e-global-color-secondary);
}

.elementor-kit-3 a:hover {
	color: var(--e-global-color-primary);
}

.elementor-kit-3 h1 {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-size: var(--e-global-typography-primary-font-size);
	font-weight: var(--e-global-typography-primary-font-weight);
	text-transform: var(--e-global-typography-primary-text-transform);
	font-style: var(--e-global-typography-primary-font-style);
	text-decoration: var(--e-global-typography-primary-text-decoration);
	line-height: var(--e-global-typography-primary-line-height);
}

.elementor-kit-3 h2 {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-size: var(--e-global-typography-secondary-font-size);
	font-weight: var(--e-global-typography-secondary-font-weight);
	text-transform: var(--e-global-typography-secondary-text-transform);
	font-style: var(--e-global-typography-secondary-font-style);
	text-decoration: var(--e-global-typography-secondary-text-decoration);
	line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-kit-3 h3 {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-d8d7091-font-family), Sans-serif;
	font-size: var(--e-global-typography-d8d7091-font-size);
	font-weight: var(--e-global-typography-d8d7091-font-weight);
	text-transform: var(--e-global-typography-d8d7091-text-transform);
	font-style: var(--e-global-typography-d8d7091-font-style);
	text-decoration: var(--e-global-typography-d8d7091-text-decoration);
	line-height: var(--e-global-typography-d8d7091-line-height);
	letter-spacing: var(--e-global-typography-d8d7091-letter-spacing);
	word-spacing: var(--e-global-typography-d8d7091-word-spacing);
}

.elementor-kit-3 h4 {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-0c948d0-font-family), Sans-serif;
	font-size: var(--e-global-typography-0c948d0-font-size);
	font-weight: var(--e-global-typography-0c948d0-font-weight);
	text-transform: var(--e-global-typography-0c948d0-text-transform);
	font-style: var(--e-global-typography-0c948d0-font-style);
	text-decoration: var(--e-global-typography-0c948d0-text-decoration);
	line-height: var(--e-global-typography-0c948d0-line-height);
	letter-spacing: var(--e-global-typography-0c948d0-letter-spacing);
	word-spacing: var(--e-global-typography-0c948d0-word-spacing);
}

.elementor-kit-3 h5 {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-7ff5688-font-family), Sans-serif;
	font-size: var(--e-global-typography-7ff5688-font-size);
	font-weight: var(--e-global-typography-7ff5688-font-weight);
	text-transform: var(--e-global-typography-7ff5688-text-transform);
	font-style: var(--e-global-typography-7ff5688-font-style);
	text-decoration: var(--e-global-typography-7ff5688-text-decoration);
	line-height: var(--e-global-typography-7ff5688-line-height);
	letter-spacing: var(--e-global-typography-7ff5688-letter-spacing);
	word-spacing: var(--e-global-typography-7ff5688-word-spacing);
}

.elementor-kit-3 h6 {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-0acc88c-font-family), Sans-serif;
	font-size: var(--e-global-typography-0acc88c-font-size);
	font-weight: var(--e-global-typography-0acc88c-font-weight);
	text-transform: var(--e-global-typography-0acc88c-text-transform);
	font-style: var(--e-global-typography-0acc88c-font-style);
	text-decoration: var(--e-global-typography-0acc88c-text-decoration);
	line-height: var(--e-global-typography-0acc88c-line-height);
	letter-spacing: var(--e-global-typography-0acc88c-letter-spacing);
	word-spacing: var(--e-global-typography-0acc88c-word-spacing);
}

.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 .elementor-button {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-size: var(--e-global-typography-accent-font-size);
	font-weight: var(--e-global-typography-accent-font-weight);
	text-transform: var(--e-global-typography-accent-text-transform);
	font-style: var(--e-global-typography-accent-font-style);
	text-decoration: var(--e-global-typography-accent-text-decoration);
	color: var(--e-global-color-primary);
	background-color: var(--e-global-color-accent);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px 5px 5px 5px;
	padding: 16px 32px 16px 32px;
}

.elementor-kit-3 button:hover,
.elementor-kit-3 button:focus,
.elementor-kit-3 input[type="button"]:hover,
.elementor-kit-3 input[type="button"]:focus,
.elementor-kit-3 input[type="submit"]:hover,
.elementor-kit-3 input[type="submit"]:focus,
.elementor-kit-3 .elementor-button:hover,
.elementor-kit-3 .elementor-button:focus {
	color: #FFFFFF;
	background-color: var(--e-global-color-secondary);
}

.elementor-kit-3 label {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-size: var(--e-global-typography-accent-font-size);
	font-weight: var(--e-global-typography-accent-font-weight);
	text-transform: var(--e-global-typography-accent-text-transform);
	font-style: var(--e-global-typography-accent-font-style);
	text-decoration: var(--e-global-typography-accent-text-decoration);
}

.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea,
.elementor-kit-3 .elementor-field-textual {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	color: var(--e-global-color-primary);
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #0000001C;
	border-radius: 7px 7px 7px 7px;
	padding: 15px 20px 15px 20px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
	max-width: 1140px;
	display: flex;
    flex-wrap: wrap;
}

.e-con {
	--container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
	margin-bottom: 20px;
}

.elementor-element {
	--widgets-spacing: 20px;
}

h1.entry-title {
	display: var(--page-title-display);
}

.site-header {
	padding-right: 0px;
	padding-left: 0px;
}

@media(max-width:1024px) {
	.elementor-kit-3 {
		--e-global-typography-primary-font-size: 47px;
		--e-global-typography-secondary-font-size: 39px;
		--e-global-typography-text-font-size: 14px;
		--e-global-typography-accent-font-size: 13px;
		--e-global-typography-d8d7091-font-size: 22px;
		--e-global-typography-0c948d0-font-size: 19px;
		--e-global-typography-7ff5688-font-size: 17px;
		--e-global-typography-0acc88c-font-size: 16px;
		--e-global-typography-cf2aa04-font-size: 14px;
		--e-global-typography-2fe55cc-font-size: 16px;
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-kit-3 h1 {
		font-size: var(--e-global-typography-primary-font-size);
		line-height: var(--e-global-typography-primary-line-height);
	}

	.elementor-kit-3 h2 {
		font-size: var(--e-global-typography-secondary-font-size);
		line-height: var(--e-global-typography-secondary-line-height);
	}

	.elementor-kit-3 h3 {
		font-size: var(--e-global-typography-d8d7091-font-size);
		line-height: var(--e-global-typography-d8d7091-line-height);
		letter-spacing: var(--e-global-typography-d8d7091-letter-spacing);
		word-spacing: var(--e-global-typography-d8d7091-word-spacing);
	}

	.elementor-kit-3 h4 {
		font-size: var(--e-global-typography-0c948d0-font-size);
		line-height: var(--e-global-typography-0c948d0-line-height);
		letter-spacing: var(--e-global-typography-0c948d0-letter-spacing);
		word-spacing: var(--e-global-typography-0c948d0-word-spacing);
	}

	.elementor-kit-3 h5 {
		font-size: var(--e-global-typography-7ff5688-font-size);
		line-height: var(--e-global-typography-7ff5688-line-height);
		letter-spacing: var(--e-global-typography-7ff5688-letter-spacing);
		word-spacing: var(--e-global-typography-7ff5688-word-spacing);
	}

	.elementor-kit-3 h6 {
		font-size: var(--e-global-typography-0acc88c-font-size);
		line-height: var(--e-global-typography-0acc88c-line-height);
		letter-spacing: var(--e-global-typography-0acc88c-letter-spacing);
		word-spacing: var(--e-global-typography-0acc88c-word-spacing);
	}

	.elementor-kit-3 button,
	.elementor-kit-3 input[type="button"],
	.elementor-kit-3 input[type="submit"],
	.elementor-kit-3 .elementor-button {
		font-size: var(--e-global-typography-accent-font-size);
	}

	.elementor-kit-3 label {
		font-size: var(--e-global-typography-accent-font-size);
	}

	.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
	.elementor-kit-3 textarea,
	.elementor-kit-3 .elementor-field-textual {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 1024px;
	}

	.e-con {
		--container-max-width: 1024px;
	}
}

@media(max-width:767px) {
	.elementor-kit-3 {
		--e-global-typography-primary-font-size: 39px;
		--e-global-typography-secondary-font-size: 34px;
		--e-global-typography-text-font-size: 14px;
		--e-global-typography-accent-font-size: 13px;
		--e-global-typography-d8d7091-font-size: 21px;
		--e-global-typography-0c948d0-font-size: 18px;
		--e-global-typography-7ff5688-font-size: 17px;
		--e-global-typography-0acc88c-font-size: 15px;
		--e-global-typography-cf2aa04-font-size: 13px;
		--e-global-typography-2fe55cc-font-size: 15px;
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-kit-3 h1 {
		font-size: var(--e-global-typography-primary-font-size);
		line-height: var(--e-global-typography-primary-line-height);
	}

	.elementor-kit-3 h2 {
		font-size: var(--e-global-typography-secondary-font-size);
		line-height: var(--e-global-typography-secondary-line-height);
	}

	.elementor-kit-3 h3 {
		font-size: var(--e-global-typography-d8d7091-font-size);
		line-height: var(--e-global-typography-d8d7091-line-height);
		letter-spacing: var(--e-global-typography-d8d7091-letter-spacing);
		word-spacing: var(--e-global-typography-d8d7091-word-spacing);
	}

	.elementor-kit-3 h4 {
		font-size: var(--e-global-typography-0c948d0-font-size);
		line-height: var(--e-global-typography-0c948d0-line-height);
		letter-spacing: var(--e-global-typography-0c948d0-letter-spacing);
		word-spacing: var(--e-global-typography-0c948d0-word-spacing);
	}

	.elementor-kit-3 h5 {
		font-size: var(--e-global-typography-7ff5688-font-size);
		line-height: var(--e-global-typography-7ff5688-line-height);
		letter-spacing: var(--e-global-typography-7ff5688-letter-spacing);
		word-spacing: var(--e-global-typography-7ff5688-word-spacing);
	}

	.elementor-kit-3 h6 {
		font-size: var(--e-global-typography-0acc88c-font-size);
		line-height: var(--e-global-typography-0acc88c-line-height);
		letter-spacing: var(--e-global-typography-0acc88c-letter-spacing);
		word-spacing: var(--e-global-typography-0acc88c-word-spacing);
	}

	.elementor-kit-3 button,
	.elementor-kit-3 input[type="button"],
	.elementor-kit-3 input[type="submit"],
	.elementor-kit-3 .elementor-button {
		font-size: var(--e-global-typography-accent-font-size);
	}

	.elementor-kit-3 label {
		font-size: var(--e-global-typography-accent-font-size);
	}

	.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
	.elementor-kit-3 textarea,
	.elementor-kit-3 .elementor-field-textual {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 767px;
	}

	.e-con {
		--container-max-width: 767px;
	}
}